* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: 'Arial', sans-serif;
}

.top-bar {
  background: #53ec81;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-bar .social i {
  margin-right: 15px;
}

.top-bar .contact span {
  margin-right: 15px;
}



.btn {
  padding: 8px 16px;
  background: #1d863c;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn.secondary {
  background: #555;
}

.navbar {
  background: #fff;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .nav-links {
  list-style: none;
  display: flex;
}

.navbar .nav-links li {
  margin: 0 10px;
}

.navbar .nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.hero {
  display: flex;
  height: 500px;
  justify-content: center;
  align-items: center;
  color: white;
  flex-direction: column;
  
  background-image: url('image3.webp'); 
  background-size: cover;
  background-position: center;
  
 
  
}

.features {
  display: flex;
  justify-content: space-around;
  padding: 40px;
  background: linear-gradient(to right, #4bf07c, #70e259);
  color: white;
  text-align: center;
}

.feature i {
  font-size: 40px;
  margin-bottom: 10px;
}

.about {
  display: flex;
  justify-content: space-around;
  padding: 50px;
  height: 400px;
  background: #f7f7f7;
}

.about-text {
  width: 50%;
}

.about-img img {
  width: 300px;
  border: 4px solid #0b611a;
  border-radius: 10px;
}

.services {
  padding: 50px;
  text-align: center;
}

.service-boxes {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.service-box img {
  width: 300px;
  height: 200px;
  border: 4px solid #0b611a;
  border-radius: 8px;
  margin-bottom: 10px;
}
